doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.2-min.js")
  body
    block content
